*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    background-color: palevioletred;
    padding: 10px;
}
.header-logo{
    margin-top: auto;
    margin-bottom: auto;
}

.header-logo img{
    height: 100px;
}
.header-title{
    margin-top: auto;
    margin-bottom: auto;
}

.header-title a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}